{
    "machine": {
        "gpu": 0,
        "cpu": 1000,
        "ram": 8000
    },
    "job": {
        "APIVersion": "V1beta1",
        "Metadata": {
            "CreatedAt": "2024-06-18T12:32:12Z",
            "Requester": {}
        },
        "Spec": {
            "Deal": {
                "Concurrency": 1
            },
            "Docker": {
                "Entrypoint": [
                  "sh",
                  "-c",
                  "SEED=${SEED} NUM_CONTRACTS=${NUM_CONTRACTS} node generate.js"
                ],
                "EnvironmentVariables": [
                    {{ if .Contracts }}"{{ subst "NUM_CONTRACTS=%s" .Contracts }}",{{else}}"NUM_CONTRACTS=5",{{ end }}
                    {{ if .Seed }}"{{ subst "SEED=%s" .Seed }}"{{else}}"SEED=42"{{ end }}
                ],
                "Image": "public.ecr.aws/lilypad-network/synthetic_data:0.0.6@sha256:ba44f53b5757cadf22b928e4c496fbeedd1b9b4cc5d9f04354526e87c150bbd3"
            },
            "Engine": "Docker",
            "Network": {
                "Type": "None"
            },
            "Outputs": [
                {
                "Name": "outputs",
                "Path": "/outputs"
                }
            ],
            "PublisherSpec": {
                "Type": "IPFS"
            },
            "Resources": {
                "GPU": ""
            },
            "Timeout": 1800,
            "Verifier": "Noop"
        }
    }
}